<?xml version='1.0' encoding='utf-8'?>
<widget id="com.snazzysanoj.lazy2048" version="5.3.1" versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Lazy 2048</name>
  <description>
    An addictive puzzle game inspired by the classic 2048 game, but dedicated for couch potatoes.
  </description>
  <author email="admin@snazzysanoj.in" href="https://www.snazzysanoj.in">Snazzy Sanoj</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="LogLevel" value="VERBOSE"/>
  <preference name="debuggable" value="false"/>
  
  <gap:plugin name="phonegap-admob" source="npm" />
  
  <icon src="res/icons/appFeel-512.png" />
  
  <platform name="android">
    <icon src="res/icons/android/ic_launcher_ldpi.png" density="ldpi" />
    <icon src="res/icons/android/ic_launcher_mdpi.png" density="mdpi" />
    <icon src="res/icons/android/ic_launcher_hdpi.png" density="hdpi" />
    <icon src="res/icons/android/ic_launcher_xhdpi.png" density="xhdpi" />
    <icon src="res/icons/android/ic_launcher_xxhdpi.png" density="xxhdpi" />
    <icon src="res/icons/android/ic_launcher_xxxhdpi.png" density="xxxhdpi" />
  </platform>

</widget>
